%ul
  %li
    Add account
    %ul
      %li
        Jabber ID:
        = reveal "user-jid"
      %li
        Password:
        = reveal "user-password"
  %li Add conversation
  %li Conferences
  %li
    Add new
    %ul
      %li
        Your account:
        = reveal "user-jid"
      %li
        Conference address:
        = reveal "room-jid"
