%h1 Sign-in with

%p
  = link_to user_omniauth_authorize_path(:google_oauth2), class: "btn btn-default btn-lg" do
    Google
  = link_to user_omniauth_authorize_path(:facebook), class: "btn btn-default btn-lg" do
    Facebook
