/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

html, body { height: 100%; }

body {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

h3.android {
  color: #A4C639;
}

.register-container {
  background-color: rgba(68, 68, 68, 0.5);
  padding: 10px;
  border-radius: 10px;
}

a.google {
  background-color: #d62d20;
  color: white;
  border: none;
  margin-bottom: 10px;
}
a.google:hover, a.google:focus {
  background-color: #ffa700;
  color: white;
  border: none;
}

a.facebook {
  background-color: #3b5998;
  color: white;
  border: none;
}
a.facebook:hover, a.facebook:focus {
  background-color: #8b9dc3;
  color: white;
  border: none;
}
