/*Something*/
.message-form textarea {
  border: 0 none;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 20px;
  width: 100%;
  display: block;
  outline-width: 0;
  background-color: white;

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  height: 40px;
  letter-spacing: normal;
  line-height: 20px;
}

.message-form-wrapper {
  height: 52px;
}

.message-pane-wrapper {
  margin-bottom: 52px;
}

.message-form input.submit {
  height: 46px;
  padding-left: 20px;
  padding-right: 20px;
}
